.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  width: auto;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

cover {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 5%;
}

cover > h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 10em;
  color: white;
  text-shadow: 3px 3px black;
}

cover > h2 {
  width: 50vw;
  height: auto;
}

.signup-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#signup-btn {
  margin: 2em;
}

#email-form {
  background: transparent;
  width: 30vw;
}

.navbar {
  margin-bottom: -10px;
}

#brand {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 2.5em;
}
