.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
}

cover {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 5%;
}

#background-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {

    .Hero {
        background-image: url(/assets/dog_background.jpg);
        background-size: cover;
    }

    cover {
      top: 5%;
    }

    #background-video {
      opacity: 0;
    }

    #header {
      font-size: 7em;
    }

    #description {
      width: 90vw;
    }

    #email-form {
      width: 90vw !important;
      background: white !important;
    }

    #signup-btn {
      width: 90vw !important;
      margin: 0 !important;
    }

}

cover > h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 10em;
  color: white;
  text-shadow: 3px 3px black;
}

cover > h2 {
  width: 50vw;
  height: auto;
}

.signup-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#signup-btn {
  margin: 2em;
}

#email-form {
  background: transparent;
  width: 30vw;
  color: white;
}

.navbar {
  margin-bottom: -10px;
}

#brand {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 2.5em;
}

#contact-btn {
  margin-top: 7px;
}

#contact-btn:hover {
  background-color: inherit;
  color: white;
}
